<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Createstyle.css">
    <title>Create Blog</title>
    <link rel="stylesheet" href="/navbarstyle.css">

</head>

<body>

    <%- include('./partials/navbar') %>
        <div class="container">

            <h1>
                <%= Blog ? "Update Blog" : "Create Blog" %>
            </h1>

            <form action="/blogs <%= Blog ? '/update/'+Blog._id :''  %> " method="POST">

                <label for="title">Title</label>
                <input id="title" type="text" name="title" required value="<%= Blog ? Blog.title  :''  %>">

                <label for="author">Author</label>
                <input id="author" type="text" name="author" required value="<%= Blog ? Blog.author  :''  %>">

                <label for="category">Category</label>
                <select name="category">

                    <option <%=Blog?.category==="Technology" ? "selected" : "" %>>
                        Technology
                    </option>

                    <option <%=Blog?.category==="Programming" ? "selected" : "" %>>
                        Programming
                    </option>

                    <option <%=Blog?.category==="Education" ? "selected" : "" %>>
                        Education
                    </option>

                    <option <%=Blog?.category==="Travel" ? "selected" : "" %>>
                        Travel
                    </option>

                    <option <%=Blog?.category==="Food" ? "selected" : "" %>>
                        Food
                    </option>

                    <option <%=Blog?.category==="Lifestyle" ? "selected" : "" %>>
                        Lifestyle
                    </option>

                    <option <%=Blog?.category==="Other" ? "selected" : "" %>>
                        Other
                    </option>

                </select>


                <label for="content">Content</label>
                <textarea id="content" name="content" required><%= Blog ? Blog.content  :''  %></textarea>

                <label>
                    <input type="checkbox" name="published" <%=Blog && Blog.published ? "checked" : "" %>
                    >
                    Published
                </label>

                <button type="submit">
                    <%= Blog ? "Update Blog" : "Create Blog" %>
                </button>

            </form>

        </div>

</body>

</html>