<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="homestyle.css">

</head>
<body>
      <%- include('./partials/navbar') %>
    <h1>Home page</h1>
     
         
     <%for (const oneBlog of BlogFound) { %>
        <dev class="Blog">
            <p> <%=oneBlog.title %> </p>
            <p> <%=oneBlog.author %> </p>
            <p> <%=oneBlog.category %> </p>
            <p> <%=oneBlog.content %> </p>
            <p> <%=oneBlog.published %> </p>

            

        </dev>
        <%}  %>
</body>
</html>