<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="homestyle.css">
    <link rel="stylesheet" href="navbarstyle.css">

</head>
<body>
      <%- include('./partials/navbar') %>
    <h1>Home page</h1>
     
     <div class="CardParnt" >  
     <%for (const oneBlog of BlogFound) { %>
    <a href="/">
        <div class="blog-card">
    <h2><%= oneBlog.title %></h2>

    <p><strong>Author:</strong> <%= oneBlog.author %></p>

    <p><strong>Category:</strong> <%= oneBlog.category %></p>

    <p class="status">
        <%= oneBlog.published ? "✅ Published" : "⏳ Draft" %>
    </p>
    <!-- <p><%= oneBlog.content %></p> -->
</div>
</a>
<%}  %>
</div>  
</body>
</html>